h1{
    text-align: center;
}

nav{
    text-align:center;
}
.nav{
    margin:auto;
    text-align:center;
    border: solid;
    border-color: #224229;
    width: 20%;
}
section{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
table tr:not(#headerTable):nth-child(even){
    background-color: #c4bfb5;
}
table #headerTable{
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #224229;
    position: sticky;
    top: 0;
    background-color: #f8f1e2;
}
table tr:not(#headerTable){
    text-align: left;
    font-weight: normal;
    padding: 8px;

}

table td{
    padding: 10px;
}
table{
    width: 80%;
    align-self:center;
    border-collapse:collapse;
}

.label-input{
    text-align: left;
}

.align-right{
    text-align: right;
    align-self:flex-end;
}

.hidden{
    display:none;
}

.feedback {
    color: #dc341e;
    width: 100%;
}

.confirmation{
    color: #224229;
    text-align: center;
    border: solid  #224229 2px;
    padding: 5px;
    width: 90%;
}


.formandtable{
    display:flex;
    flex-direction:row;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    gap: 10px;
}
.body{
    display:flex;
    flex-direction:row;
}
body{
    background-color: #f8f1e2;
}
.errorpage{
    text-align: center;
    margin:auto;
}
.headerheader{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin: auto;

}
.headerheader img{
    width:5%;
    height:5%;
}

.headerheader button{
    position: relative;
    text-align: right;
    float: right;
    margin-right: 5%;
    height: 25px;
    margin-right: 25px;
    margin-top: 25px;

}
.gallary_items{
    border: 2px solid #b4b4b4;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
    min-height: 200px;
}
.gallary_items img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.gallary{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin:auto;

}
.action_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.adminbuttons{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 2%;
}
.imageAdetails{
    display:flex;
    flex-direction:row;
}
.details{
    margin-left: 5%;
}
.detailedimg{
    width: 500px;
    height: 300px;
    object-fit: cover;
}
.center{
    margin: auto;
    width: 50%;
}
a{
    text-decoration:none;
}
.headerlogin{
    display:flex;
    flex-direction:row;
}
#login{
    height:10%;
    width: 10%;
}
#logout{
    height:10%;
    width: 10%;
}
.table{
    width:100%;
}

* {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    color: #224229;
}
/* mobile screens */
@media (max-width: 600px) {
    .formandtable{
        display:flex;
        flex-direction:column;
    }
    .gallarycontent{
        display: flex;
        flex-direction:row;
    }
    .gallary{
        display:flex;
        flex-direction:column;
        margin:auto;

    }
    .gallarytag{
        margin-left: 2%;
    }
    .gallary_items{
        border: 2px solid #b4b4b4;
        border-radius: 5px;
        padding: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 100%;
        min-height: 200px;
    }
    .center{
        margin-left: auto;
        margin-right:auto;
    }
    .detailed{
        margin-left:5%;
    }
    .imageAdetails{
        display:flex;
        flex-direction:column;
    }
}
